openapi: 3.0.1
info:
  title: Iconomi API
  version: 1.3 beta
servers:
  - url: 'https://api.iconomi.com'
    description: Live Server
    variables: {}
  - url: 'https://api-demo.iconomi.com'
    description: Sandbox Server
    variables: {}
tags:
  - name: Asset
    description: Asset endpoint
  - name: Strategies
    description: 'Strategies, previously called DAAs'
  - name: Trading
    description: Orders and trading
  - name: User
    description: User data
  - name: WebSocket Feed
    description: |-
      Using the WebSocket feed you can get close to real-time data on different events that take place on the ICONOMI platform.
      To start receiving feed messages, first send a subscribe message indicating which channels you want to subscribe to.
      All requests follow this following format

      | Parameter  | Description   | Sample  |
      |---|---|---|
      | **type** <br> *String*        |   Always provide the value "subscribe"      |    subscribe    |
      | **channel** <br> *String*     |     The channel to which you are subscribing    |     daa/price   |
      |  <br> *Channel-specific*     |     Optional additional data specific  |       |

      ### Strategy price feed

      You can subscribe to a price feed of strategy prices. The latest prices are sent every minute.

      Channel-specific data:

      | Parameter  | Description   | Sample  |
      |---|---|---|
      | **ticker** <br> *String*        |   Ticker of the strategy to receive the price feed for     |    BLX    |

      ##### Subscription request

      Example:

      ```
      {
          "type":"subscribe",
          "channel": "daa/price",
          "ticker": "BLX"
      }
      ```

      ##### Feed message

      Example:

      ```
       {
          "type":"price",
          "price":
          {
             "ticker":"BLX",
             "currency":"USD",
             "price":"1.36"
          }
       }
      ```
  - name: WebSocket RPC
    description: |-
      The WebSocket RPC is publicly available, but connections to it are rate-limited to 1 request per 4 seconds per IP.
      The WebSocket API is available at `wss://api.iconomi.com/v1/ws`. The current version is v1.

      Requests and responses are application/json content type.  The general message format used for both requests and responses is a structure with message type as the first attribute,  followed by the objects of the request/response.

      Example request:

      ```
      {
        "type": "daa",
        "ticker" : "BLX"
      }
      ```

      ### Strategy list

      Returns a list of all public DAAs.

      ##### Request

      Example:

      ```
      {
          "type": "daa-list"
      }
      ```

      ##### Response

      Result is an array of the following entities:

      | Parameter  | Description   | Sample  |
      |---|---|---|
      | **name** <br> *String*        |   Name of strategy      |    Blockchain Index    |
      | **manager** <br> *String*     |     Manager of strategy     |     Columbus Capital   |
      | **ticker** <br> *String*     |     Strategy ticker      |     BLX   |
      | **type** <br> *String*     |     Type of strategy. See strategy types under enumerations section for possible options.      |     PASSIVE   |

      Example:

      ```
      {
          "type":"daalist",
          "daalist":
          [
              {
                  "name":"Blockchain Index",
                  "manager":"Columbus Capital",
                  "ticker":"BLX",
                  "type":"PASSIVE"
              },
              {
                  "name":"Pinta",
                  "manager":"Columbus Capital",
                  "ticker":"CCP",
                  "type":"ACTIVE"
              }
          ]
      }
      ```

      ### DAA details

      Returns details of a specific strategy.

      ##### Request

      Example:

      ```
      {
          "type": "daa",
          "ticker": "BLX"
      }
      ```

      ##### Response

      The result is an array of the following entities:

      | Parameter  | Description   | Sample  |
      |---|---|---|
      | **name** <br> *String*        |   Name of strategy      |    Blockchain Index    |
      | **manager** <br> *String*     |     Manager of strategy     |     Columbus Capital   |
      | **ticker** <br> *String*     |     Strategy ticker      |     BLX   |
      | **type** <br> *String*     |     Type of strategy. See strategy types under enumerations section for possible options.      |     PASSIVE   |

      Example:

      ```
      {
          "type":"daa",
          "name":"Blockchain Index",
          "manager":"Columbus Capital",
          "ticker":"BLX",
          "type":"PASSIVE"
      }
      ```

      ### User balance

      Returns user balance based on authentication.

      ##### Request

      Example:

      Empty body.

      ##### Response

       | Parameter  | Description   | Sample  |
      |---|---|---|
      | **currency** <br> *String*        |   Currency in which the values are returned | USD  |
      | **daaList** <br> *BalanceEntry*     | Array of portfolios balances   |   |
      | **assetList** <br> *BalanceEntry*     | Array of cryptocurrency balances  |   |

      BalanceEntry is of the following structure:

      | Parameter  | Description   | Sample  |
      |---|---|---|
      | **name** <br> *String*        |   Name of asset | Blockchain index  |
      | **ticker** <br> *String*     | Ticker of asset  | BLX  |
      | **balance** <br> *String*     | Balance of the asset  | 1337  |
      | **value** <br> *String*     | Value in USD or EUR (depending on the optional currency in query string)  | 4700  |

      Example:
      ```
      {
        "currency": "USD",
        "daaList": [
          {
            "name": "Blockchain Index",
            "ticker": "BLX",
            "balance": "1337",
            "value": "4700"
          }
        ],
        "assetList": [
          {
            "name": "Bitcoin",
            "ticker": "BTC",
            "balance": "1",
            "value": "29998"
          }
        ]
      }
      ```
paths:
  /v1/assets:
    get:
      tags:
        - Asset
      summary: List of Assets
      description: Returns a list of all assets on platform.
      operationId: assetList
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Asset'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  '/v1/assets/{ticker}':
    get:
      tags:
        - Asset
      summary: Asset details
      description: Returns information about one specific Asset.
      operationId: assetDetails
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetInfo'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  '/v1/assets/{ticker}/price':
    get:
      tags:
        - Asset
      summary: Current ticker
      description: Returns the current ticker of the Asset. The price is refreshed every minute.
      operationId: assetTicker
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
        - name: currency
          in: query
          required: false
          schema:
            type: string
            default: USD
            enum:
              - BTC
              - USD
              - EUR
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticker'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  '/v1/assets/{ticker}/pricehistory':
    get:
      tags:
        - Asset
      summary: Historical information
      description: |-
        The price history returns data points for the given period. Different granulation of
        data can be returned based on the length of the period provided from daily to 5 minute (one 
        price point per period).

        From and to are optional parameters (both are either supplied or neither is supplied). If from/to are not supplied a default of last month is returned
        with hourly granulation.
      operationId: assetHistory
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
        - name: currency
          in: query
          required: false
          schema:
            type: string
            default: USD
            enum:
              - BTC
              - USD
              - EUR
        - name: from
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: to
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: granulation
          in: query
          required: false
          schema:
            type: string
            enum:
              - TWO_MINUTE
              - FIVE_MINUTE
              - FIFTEEN_MINUTE
              - HOURLY
              - THREE_HOURLY
              - EIGHT_HOURLY
              - DAILY
              - MONTHLY
              - YEARLY
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chart'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  '/v1/assets/{ticker}/statistics':
    get:
      tags:
        - Asset
      summary: Statistics
      description: 'Returns statistics of the strategy; returns, max drawdown and volatility for strategy.'
      operationId: assetStatistics
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
        - name: currency
          in: query
          required: false
          schema:
            type: string
            default: USD
            enum:
              - BTC
              - USD
              - EUR
      responses:
        '200':
          description: default response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Statistics'
            application/json:
              schema:
                $ref: '#/components/schemas/Statistics'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  /v1/order:
    post:
      tags:
        - Trading
      summary: Place order
      description: Placing user's logical order.
      operationId: orderTrade
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderInfo'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  /v1/order/offer:
    post:
      tags:
        - Trading
      summary: Trade offer
      description: Generating trade offer.
      operationId: orderOffer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderOffer'
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeOffer'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  '/v1/order/offer/{offerId}/confirm':
    post:
      tags:
        - Trading
      summary: Confirm trade offer
      description: This endpoint confirms generated trade offer.
      operationId: confirmOffer
      parameters:
        - name: offerId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: default response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TradeConfirm'
            application/json:
              schema:
                $ref: '#/components/schemas/TradeConfirm'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  /v1/order/orders:
    get:
      tags:
        - Trading
      summary: List of orders
      description: Returns a list of all user's logical orders.
      operationId: getAllOrders
      parameters:
        - name: accountId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderInfo'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  '/v1/order/{orderId}':
    get:
      tags:
        - Trading
      summary: Logical order
      description: Returns a user's logical order.
      operationId: status
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: accountId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderInfo'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
    delete:
      tags:
        - Trading
      summary: Delete
      description: Remove user's logical order.
      operationId: cancelOrder
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
        - name: accountId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderInfo'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  /v1/strategies:
    get:
      tags:
        - Strategies
      summary: List of Strategies
      description: Returns a list of all public Strategies.
      operationId: strategyList
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Strategy'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  '/v1/strategies/{ticker}':
    get:
      tags:
        - Strategies
      summary: Strategy details
      description: Returns information about one specific strategy.
      operationId: info
      parameters:
        - name: ticker
          in: path
          description: Ticker of structure
          required: true
          schema:
            type: string
          example: BLX
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Strategy'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  '/v1/strategies/{ticker}/balance':
    get:
      tags:
        - Strategies
      summary: Balance
      description: Returns live balance of strategy
      operationId: daaBalance
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategyBalance'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  '/v1/strategies/{ticker}/price':
    get:
      tags:
        - Strategies
      summary: Current ticker
      description: Returns the current ticker of the Strategy. The price is refreshed every minute.
      operationId: daaPrice
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
        - name: currency
          in: query
          required: false
          schema:
            type: string
            default: USD
            enum:
              - BTC
              - USD
              - EUR
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticker'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  '/v1/strategies/{ticker}/pricehistory':
    get:
      tags:
        - Strategies
      summary: Historical information
      description: |-
        The price history returns data points for the given period. Different granulation of
        data can be returned based on the length of the period provided from daily to 5 minute (one 
        price point per period).

        From and to are optional parameters (both are either suplied or neither is supplied). If from/to are not supplied a default of last month is returned
        with hourly granulation.
      operationId: charts
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
        - name: currency
          in: query
          required: false
          schema:
            type: string
            default: USD
            enum:
              - BTC
              - USD
              - EUR
        - name: from
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: to
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: granulation
          in: query
          description: Granulation for price points. See granulation enumeration section for more details.
          required: false
          schema:
            type: string
            enum:
              - TWO_MINUTE
              - FIVE_MINUTE
              - FIFTEEN_MINUTE
              - HOURLY
              - THREE_HOURLY
              - EIGHT_HOURLY
              - DAILY
              - MONTHLY
              - YEARLY
          example: HOURLY
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chart'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  '/v1/strategies/{ticker}/statistics':
    get:
      tags:
        - Strategies
      summary: Statistics
      description: 'Returns statistics of the strategy; returns, max drawdown and volatility for strategy.'
      operationId: getStatistics
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
        - name: currency
          in: query
          required: false
          schema:
            type: string
            default: USD
            enum:
              - BTC
              - USD
              - EUR
      responses:
        '200':
          description: default response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Statistics'
            application/json:
              schema:
                $ref: '#/components/schemas/Statistics'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  '/v1/strategies/{ticker}/structure':
    get:
      tags:
        - Strategies
      summary: Structure
      description: |-
        Returns the current structure of a strategy. The same result entity is returned 
        for both PASSIVE and ACTIVE type DAAs, but for ACTIVE DAAs rebalancedWeight 
        and targetWeight are always set to 0.
      operationId: structure
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Structure'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
    post:
      tags:
        - Strategies
      summary: Structure
      description: |-
        Endpoint requires authentication. Creates and submits a new structure for a given strategy. 

        Response is the same object as GET to /v1/strategies/{ticker}/structure.
      operationId: submitStructure
      parameters:
        - name: ticker
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StructureSubmit'
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Structure'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
      security:
        - ApiKey: []
        - ApiTimestamp: []
        - ApiSign: []
  /v1/user/activity:
    get:
      tags:
        - User
      summary: Activity
      description: |-
        (Only in non production environment. Coming soon.)

        Endpoint returns user's activity (buy, sell, deposit, withdraw).
      operationId: getActivities
      parameters:
        - name: type
          in: query
          required: false
          schema:
            type: string
            default: MY_ACTIVITIES
            enum:
              - MY_ACTIVITIES
              - FEES_AND_EARNINGS
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: pageNumber
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  /v1/user/balance:
    get:
      tags:
        - User
      summary: User Balance
      description: |-
        Endpoint requires authentication. Returns the balance based on the authentication of the user. 

        There is an optional query parameter currency that changes the resulting fiat value calculation to chosen currency. Possibly values are EUR or USD.

        ##### Request

        Empty body.

        ##### Response

        | Parameter  | Description   | Sample  |
        |---|---|---|
        | **currency** <br> *String*        |   Currency in which the values are returned | USD  |
        | **daaList** <br> *BalanceEntry*     | Array of portfolios balances   |   |
        | **assetList** <br> *BalanceEntry*     | Array of cryptocurrency balances  |   |

        BalanceEntry is of the following structure:

        | Parameter  | Description   | Sample  |
        | ---|---|---|
        | **name** <br> _String_ | Name of asset | Blockchain index  |
        | **ticker** <br> _String_  | Ticker of asset  | BLX  |
        | **balance** <br> _String_  | Balance of the asset  | 1337  |
        | **value** <br> _String_  | Value in USD or EUR (depending on the optional currency in query string)  | 4700  |
      operationId: getUserBalance
      parameters:
        - name: currency
          in: query
          required: false
          schema:
            type: string
            default: USD
            enum:
              - BTC
              - USD
              - EUR
      responses:
        '200':
          description: default response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Balance'
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  '/v1/user/deposit/{currency}':
    get:
      tags:
        - User
      summary: Deposit
      description: |-
        (Only in non production environment. Coming soon.)

        Endpoint returns user's crypto address.
      operationId: getDepositAddress
      parameters:
        - name: currency
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deposit'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  '/v1/user/transaction/{transactionId}':
    get:
      tags:
        - User
      summary: Transaction
      description: Endpoint returns details about user's transaction.
      operationId: transactionInfo
      parameters:
        - name: transactionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
  /v1/user/withdraw:
    post:
      tags:
        - User
      summary: Withdraw
      description: |-
        (Only in non production environment. Coming soon.)

        Endpoint allows to make withdraw asset from user's account to recipient's address. Recipient's address must be whitelisted at ICONOMI platform.
      operationId: withdraw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Withdraw'
      responses:
        '200':
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '401':
          description: default response
          content:
            '*/*':
              schema:
                type: string
components:
  schemas:
    OrderInfo:
      required:
        - source_ticker
        - target_ticker
      type: object
      properties:
        status:
          type: string
          enum:
            - created
            - active
            - done
            - failed
            - unknown
        orderId:
          type: string
        percentageCompleted:
          type: number
        source_ticker:
          type: string
        target_ticker:
          type: string
        amount:
          minimum: 0
          type: number
    OrderOffer:
      required:
        - amount
        - side
        - source_ticker
        - target_ticker
      type: object
      properties:
        source_ticker:
          type: string
        target_ticker:
          type: string
        amount:
          minimum: 0
          type: number
        side:
          type: string
          enum:
            - source
            - target
    TradeOffer:
      type: object
      properties:
        offerId:
          type: string
        sourceTicker:
          type: string
        targetTicker:
          type: string
        sourceAmount:
          type: number
        targetAmount:
          type: number
        exchangeRate:
          type: number
        feeAmount:
          type: number
        feeTicker:
          type: string
        validTo:
          type: integer
          format: int64
        serverTime:
          type: integer
          format: int64
        error:
          type: string
        used:
          type: boolean
    TradeConfirm:
      type: object
      properties:
        offerId:
          type: string
        transaction:
          $ref: '#/components/schemas/Transaction'
    Transaction:
      required:
        - amount_ticker
        - fee_ticker
        - performance_fee_ticker
        - profit_ticker
        - source_ticker
        - target_ticker
        - vat_ticker
      type: object
      properties:
        transactionId:
          type: string
        timestamp:
          type: integer
          format: int64
        status:
          type: string
        exchangeRate:
          type: number
        paymentMethod:
          type: string
        address:
          type: string
        type:
          type: string
        kind:
          type: string
        amount_ticker:
          type: string
        amount:
          type: number
        source_ticker:
          type: string
        source_amount:
          type: number
        target_ticker:
          type: string
        target_amount:
          type: number
        fee_ticker:
          type: string
        fee_amount:
          type: number
        vat_ticker:
          type: string
        vat_amount:
          type: number
        performance_fee_ticker:
          type: string
        performance_fee_amount:
          type: number
        profit_ticker:
          type: string
        profit_amount:
          type: number
    Order:
      required:
        - amount
        - side
        - source_ticker
        - target_ticker
      type: object
      properties:
        accountId:
          type: string
        source_ticker:
          type: string
        target_ticker:
          type: string
        amount:
          minimum: 0
          type: number
        side:
          type: string
          enum:
            - source
            - target
    Strategy:
      type: object
      properties:
        ticker:
          type: string
        name:
          type: string
        manager:
          type: string
        managementType:
          type: string
          enum:
            - ACTIVE
            - PASSIVE
        managementFee:
          type: number
        performanceFee:
          type: number
        entryFee:
          type: number
        exitFee:
          type: number
    Ticker:
      type: object
      properties:
        ticker:
          type: string
        currency:
          type: string
        price:
          type: number
        change24h:
          type: number
        change7d:
          type: number
        change1m:
          type: number
        change3m:
          type: number
        change6m:
          type: number
        change12m:
          type: number
        changeAll:
          type: number
        aum:
          type: number
    Chart:
      type: object
      properties:
        ticker:
          type: string
        currency:
          type: string
          enum:
            - BTC
            - USD
            - EUR
        from:
          type: integer
          format: int64
        to:
          type: integer
          format: int64
        granulation:
          type: string
        values:
          type: array
          items:
            $ref: '#/components/schemas/ChartPoint'
    ChartPoint:
      type: object
      properties:
        x:
          type: integer
          format: int64
        'y':
          type: string
    StrategyBalance:
      type: object
      properties:
        ticker:
          type: string
        values:
          type: array
          items:
            $ref: '#/components/schemas/StrategyBalanceElement'
    StrategyBalanceElement:
      type: object
      properties:
        ticker:
          type: string
        balance:
          type: string
    Structure:
      type: object
      properties:
        ticker:
          type: string
        values:
          type: array
          items:
            $ref: '#/components/schemas/StructureElement'
        numberOfAssets:
          type: integer
          format: int32
        lastRebalanced:
          type: integer
          format: int64
        monthlyRebalancedCount:
          type: integer
          format: int64
    StructureElement:
      type: object
      properties:
        rebalancedWeight:
          type: number
        targetWeight:
          type: number
        assetTicker:
          type: string
        assetName:
          type: string
        assetCategory:
          type: string
    StructureSubmit:
      type: object
      properties:
        ticker:
          type: string
        values:
          type: array
          items:
            $ref: '#/components/schemas/SubmitStructureElement'
        speedType:
          type: string
          enum:
            - SLOW
            - MEDIUM
            - FAST
    SubmitStructureElement:
      type: object
      properties:
        assetTicker:
          type: string
        rebalancedWeight:
          type: number
    EnumMapIntervalBigDecimal:
      type: object
      properties:
        DAY:
          type: number
        WEEK:
          type: number
        MONTH:
          type: number
        THREE_MONTH:
          type: number
        SIX_MONTH:
          type: number
        YTD:
          type: number
        YEAR:
          type: number
        ALL_TIME:
          type: number
    Statistics:
      type: object
      properties:
        ticker:
          type: string
        currency:
          type: string
        returns:
          type: object
          properties:
            DAY:
              type: number
            WEEK:
              type: number
            MONTH:
              type: number
            THREE_MONTH:
              type: number
            SIX_MONTH:
              type: number
            YTD:
              type: number
            YEAR:
              type: number
            ALL_TIME:
              type: number
        volatility:
          type: object
          properties:
            DAY:
              type: number
            WEEK:
              type: number
            MONTH:
              type: number
            THREE_MONTH:
              type: number
            SIX_MONTH:
              type: number
            YTD:
              type: number
            YEAR:
              type: number
            ALL_TIME:
              type: number
        maxDrawdown:
          type: object
          properties:
            DAY:
              type: number
            WEEK:
              type: number
            MONTH:
              type: number
            THREE_MONTH:
              type: number
            SIX_MONTH:
              type: number
            YTD:
              type: number
            YEAR:
              type: number
            ALL_TIME:
              type: number
    Balance:
      type: object
      properties:
        currency:
          type: string
        daaList:
          type: array
          items:
            $ref: '#/components/schemas/BalanceEntry'
        assetList:
          type: array
          items:
            $ref: '#/components/schemas/BalanceEntry'
    BalanceEntry:
      type: object
      properties:
        name:
          type: string
        ticker:
          type: string
        balance:
          type: string
        value:
          type: string
    Activity:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
    Deposit:
      type: object
      properties:
        currency:
          type: string
        address:
          type: string
    Withdraw:
      required:
        - address
        - amount
        - currency
      type: object
      properties:
        amount:
          type: string
        currency:
          type: string
        address:
          type: string
    Asset:
      type: object
      properties:
        ticker:
          type: string
        supported:
          type: boolean
        useInStrategy:
          type: boolean
        tradable:
          type: boolean
        status:
          type: string
          enum:
            - ONLINE
            - OFFLINE
            - DELISTING
            - DELISTED
            - MAINTENANCE
    AssetInfo:
      type: object
      properties:
        ticker:
          type: string
        name:
          type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      name: ICN-API-KEY
      in: header
    ApiSign:
      type: apiKey
      name: ICN-SIGN
      in: header
    ApiTimestamp:
      type: apiKey
      name: ICN-TIMESTAMP
      in: header
